@page "/"

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Muhasibatlıq Dashboard</h1>
                <p class="mt-2">Burada mühasibatlıqla əlaqəli əsas məlumatlar və statistik göstəricilər təqdim olunur.</p>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="info-box bg-success">
                    <span class="info-box-icon"><i class="fas fa-arrow-up"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Gəlir</span>
                        <span class="info-box-number">$4500</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box bg-danger">
                    <span class="info-box-icon"><i class="fas fa-arrow-down"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Xərc</span>
                        <span class="info-box-number">$1200</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box bg-primary">
                    <span class="info-box-icon"><i class="fas fa-wallet"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Ümumi Balans</span>
                        <span class="info-box-number">$3300</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Son Əməliyyatlar</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Əməliyyat Tarixi</th>
                                    <th>Əməliyyat Təsviri</th>
                                    <th>Məbləğ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2024-12-15</td>
                                    <td>Satış Gəliri</td>
                                    <td>1500</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2024-12-14</td>
                                    <td>Ofis Xərcləri</td>
                                    <td>-200</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2024-12-13</td>
                                    <td>Alış Xərcləri</td>
                                    <td>-800</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>2024-12-12</td>
                                    <td>Ödəniş Gəliri</td>
                                    <td>2500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

